/* habitat palette */
    .habitatGreen {color: rgb(115, 180, 28);} /* #73b41c */
    .habitatBlue {color: rgb(2, 71, 138);} /* #02478a */
/* --------------- */

.alert {color: crimson;}

.brand {color: white;}

.ackronymLetter {color: lime;}