body {
	font-family: arial;
	width:100%;
border-style:solid;
	border-width:5px;
border-color:white;
	}
	#align
	{
margin-right:30%;
	width:900px;
	}
	
#printpage
{
position:relative;
float:right;

}

h1 {
	background-color: black;
	color: white;
	margin: 0px;
	padding: 0 10px;
}

a {text-decoration: none;}

/* ----- */

#body {margin-top: 20px;
margin-left:20px;
width:95%;
float:left;
border-style:solid;
	border-width:5px;
border-color:white;
}

#mainNav
{
	display: inline;
	float:left;
	left: 20px;
	top: 120px;
	width:250px;
	
border-style:solid;
	border-width:5px;
border-color:white;
}

#content 
{
	display: inline;
	float: left;
	position: relative;
	width:65%;
border-style:solid;
	border-width:5px;
border-color:white;
}

/*


#content {width: 800px;}*/

/* ----- */

.logout {
    color: white;
    background-color: crimson;
    border-radius: 10px;
    padding: 0px 5px;
}
