body {
	font-family: arial;
	margin: 0px;
	width:800px;
	width:100%;
}
#printpage
{position:relative;
float:right;
}

h1 {
	background-color: black;
	color: white;
	margin: 0px;
	padding: 0 10px;
}

a {text-decoration: none;}

/* ----- */

#body {margin-top: 20px;
position:relative;
float:left;
width:80%;}

#mainNav {
	display: inline;
	float: left;
	left: 20px;
	top: 120px;
	width:25%;
	margin-right:20px;
}

#content
{
	display:inline;
	float:left;
	position:relative;
	width:65%;
}

/* ----- */

.logout {
    color: crimson;
    border-radius: 10px;
    padding: 0px 5px;
}
